body {
  margin: 0;
}
.frontPage {
  padding: 20px;
  height: 100vh;
}
.sidebar {
  position: fixed;
}
.aContainer {
  width: 150px;
  height: 40px;
  background-color: rgb(248, 0, 0);
  position: relative; /* parent for absolute children */
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 8px;

  margin-left: -130px; /* start hidden on the left */
  transition: transform 0.3s ease; /* smooth animation */
}

.sidebar a {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;

  display: flex; /* also flex inside <a> */
  justify-content: center;
  align-items: center;
}
.aContainer:hover {
  transform: translateX(100px); /* move 20px to the right */
}
span {
  right: 0;
}
